<div class="panel panel-default">
    <ul>
        <li>Age: {{age}}</li>
        <li>From: {{planet}}</li>
        <li>Seeking a {{seeking}} for {{seekingfor}}</li>
        <li>About me: {{about}}</li>
        <li>Interests: {{interests}}</li>
    </ul>
</div>