<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
<!--login modal-->
<div class="panel panel-default">
    <h1>Welcome, {{user.firstname}} {{user.lastname}}!</h1>
    {{#each profiles}}
        <div class="panel panel-default">
            <ul>
                <li>Age: {{age}}</li>
                <li>From: {{planet}}</li>
                <li>Seeking a {{seeking}} for {{seekingfor}}</li>
                <li>About me: {{about}}</li>
                <li>Interests: {{interests}}</li>
            </ul>
        </div>
    {{/each}}
</div>



<!-- script references -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/scripts.js"></script>
</body>
</html>